#!/bin/bash

#Update instance and install pip
sudo apt update -y
sudo apt upgrade -y
sudo apt install python3-pip -y

#Install PyMySQL
sudo python3 -m pip install Flask
sudo python3 -m pip install mysql-connector-python
sudo python3 -m pip install PyMySQL
sudo python3 -m pip install pandas
sudo python3 -m pip install sshtunnel